@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mike's crappy attempt at graphing some crappy data in ASP.Net MVC!</p>
</div>

<div class="row">
    <div class="col-md-4">
      @Html.Partial("_BarChartPartial")
    </div>
</div>